@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
*{
    margin: 0;
    padding: 0;
}
#header,#footer{
    width: 100%;
    height: 70px;
    text-align: center;
    border: 4px solid silver;
    background-color: #333;
    color: #fff;
    line-height: 70px;
    margin-bottom: 50px;
    float: left;
    font-family: 'Edu TAS Beginner', cursive;
    position: relative;
}
#footer{
    position: absolute;
    bottom: -200%;
    margin-top: 50px;
}
#main{
    height: 0x;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
body{
    background: url(https://kartinki.pics/pics/uploads/posts/2022-08/1661373950_1-kartinkin-net-p-yaponskii-demon-oboi-krasivo-1.jpg)no-repeat center center;
    height: 1000px;
    background-size: cover;
    background-attachment: fixed;
}
#back{
    width: 15%;
    height: 70px;
    text-align: center;
    border: 4px solid silver;
    background-color: #333;
    color: #fff;
    line-height: 70px;
    margin-bottom: 50px;
    float: left;
    font-family: 'Edu TAS Beginner', cursive;
    position:static;
    display: inline;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.video{
    height: 600px;
    width: 600px;

}
#back:hover{
    background: #c8bdaa;
    color: #333;
    border: 6px solid #333}